
.login-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

/* Left Form Section */
.login-form {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo {
  font-size: 32px;
  font-weight: 700;
  color: #14a44d; /* Green */
  margin-bottom: 20px;
}

.welcome {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #004900;
}

.subtitle {
  font-size: 14px;
  font-weight: medium;
  color: #004900;
  margin-bottom: 30px;
}

form {
  width: 100%;
  max-width: 350px;
}

/* Input Fields */
.input-group {
  position: relative;
  margin-bottom: 20px;
}

.input-group .icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 10px;
  height:10px;
}

.input-group input {
  width: 100%;
  padding: 12px 12px 12px 40px;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  background: #f9f9f9;
}

.input-group input:focus {
  background: #fff;
}

.input-group input::placeholder {
  color: #004900;   /* gray-500 like in Tailwind */
  opacity: 1;       /* make sure it's fully visible */
  font-size: 14px;  /* optional - adjust text size */
  font-weight: medium;
}

/* Forgot Password */
.forgot {
  text-align: left;
  margin-bottom: 20px;
  font-display: underline;
}

.forgot a {
  font-size: 13px;
  text-decoration: underline;
  color: #a3a3a3;
}

/* Login Button */
.login-btn {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(90deg, #004900, #17c51f);
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.login-btn:hover {
  opacity: 0.9;
}

/* Sign Up Text */
.signup-text {
  margin-top: 20px;
  font-size: 14px;
  font-weight: bold;
}

.signup-text a {
  color: #004900;
  text-decoration: none;
  font-weight: 600;
}

/* Right Image Section */
.login-image {
  flex: 1;
  overflow: hidden;
}

.login-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Responsive Design */
@media (max-width: 900px) {
  .login-container {
    flex-direction: column;
  }

  .login-form {
    flex: none;
    width: 100%;
    padding: 30px 20px;
  }

  .login-image {
    flex: none;
    width: 100%;
    height: 300px;
    display: none;
  }

  .login-image img {
    height: 100%;
  }
}
