

.payment-header h1 {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  color: #4a5568;
  margin-bottom: 1rem;
}
.payment-header{
   background-color: #16a34a;
   width: 100%;
   margin-bottom: 3rem;
}
.payment-header p{
    color: #ebf0ed;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    padding-bottom: 0.5rem;
}
.back-link{
  display: inline-block;
  margin-bottom: 1rem;
  color: #e8eaee;
  padding: 0.5rem 0.7rem;
  border-radius: 4px;
  text-decoration: none;
}
.back-link:hover {
  text-decoration: none;
  color: rgb(218, 226, 221);
}
.payment-form {
  display: flex;
  flex-direction: column;
  background-color: #dfe7ce;
  gap: 1.5rem;
  padding: 2rem 1rem;
  max-width: 600px;
}

.form-group label {
  font-weight: 500;
  color: #4a5568;
  
}

.form-group input {
  padding: 0.75rem;
  border: 1px solid #e2e8f0;
  border-radius: 0.25rem;
  font-size: 1rem;
}

.form-row {
  display: flex;
  gap: 1rem;
}

.form-row .form-group {
  flex: 1;
}

.pay-btn {
  padding: 0.7rem;
  background-color: #10B981;
  color: white;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
}

.pay-btn:hover:not(:disabled) {
  background-color: #059669;
}

.pay-btn:disabled {
  background-color: #a0aec0;
  cursor: not-allowed;
}

@media (max-width: 480px) {
  .form-row {
    flex-direction: column;
    gap: 0;
  }
}







.payment-container {
  display: flex;
  align-items: center;
  flex-direction: column;
 
  color: #fff;
  padding: 1.5rem 1.5rem;
  margin: -20px -20px 20px -20px;
  border-radius: 0 0 12px 12px;
}